@model Blog

    <section class="blog">
        <div class="blog-text">
            <h1>Blog</h1>
            <a href="">Home </a>
            <i class="fa-solid fa-angle-right"></i>
            <a href="blog.html">Blog</a>
            <i class="fa-solid fa-angle-right"></i>
            <span>Stuffed Lamb with Spinach and Pine Nuts Recipe</span>
        </div>
    </section>
    <section class="blog-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="generalblog">
                        <div class="blogimage">
                            <img src="assets/img/meals/@Model.Image" alt="">
                        </div>
                        <div class="blogcontent">
                            <h4>@Model.Title</h4>
                            <p>@Html.Raw(Model.Description)</p>
                        </div>
                    </div>
                    <div class="comment">
                        <div class="comment-form">

                            <form action="">
                                <h5>Leave a Reply</h5>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="Name">

                                        </div>
                                        <div class="col-lg-6"><input type="text" placeholder="Email"></div>
                                        <div class="col-lg-12"><input type="text" placeholder="Write comment" id="writing"></div>
                                        <div class="col-lg-12">  <button type="submit">Post Comment</button></div>

                                    </div>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
