<section class="about">
    <div class="about-text">
        <h1>About Us</h1>
        <a href="">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <span>About Us</span>
    </div>
</section>
<section class="aboutus">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <h5>Fun, Friends, and Food</h5>
                <i> <h3>For Every Special Occasion, <br> There's Prive Steak Gallery</h3></i>
                <ul>
                    <li>Sharkuteri</li>
                    <li>Baklava</li>
                    <li>Butcher</li>
                    <li>Meza Gallery</li>
                    <li>Dry Aged</li>
                    <li>Wine bar</li>
                    <li>VIP cabinets</li>
                    <li>Prive Kids Gallery</li>

                </ul>
            </div>
            <div class="col-lg-6">
                <div class="aboutimage">

                    <img src="/assets/img/background/cabinet2.jpg" alt="">
                    <img src="/assets/img/background/singing.jpeg" alt="">
                    <img src="/assets/img/interier/_0010021.jpg" alt="">
                    <img src="/assets/img/background/looking.jpg" alt="">
                    <img src="/assets/img/interier/sing2.jpeg" alt="">
                    <img src="/assets/img/interier/_MRN1178.jpg" alt="">
                    <img src="/assets/img/interier/sing.jpg" alt="">

                </div>
                <!-- <img src="/assets/img/interier/prive-steak-gallery.jpg" alt=""> -->
            </div>
        </div>
    </div>
</section>

<section class="mission">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 col-md-7 imagebox">
                <img class="img1" src="/assets/img/chefs/breakfast-at-prive-steak.jpg" alt="">
                <img class="img2" src="/assets/img/chefs/prive-staff.jpg" alt="">
                <img class="img3" src="/assets/img/meals/pleasure2.jpg" alt="">
            </div>
            <div class="col-lg-6 col-md-5">
                <h3>Our Mission</h3>
                <h5>We are here to choose products with special care to create the clean, fresh and delicious blessings that are always worthy of your mouth, to be friendly to customers by serving them to the highest standards and to add color and flavor to the most special moments of their lives!</h5>
            </div>
        </div>
    </div>

</section>

<section class="vision">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-12">
                <h3>Our Vision</h3>
                <span>
                    "
                    To be the first family holiday restaurant  in the center  <br>  that our customers constantly  recommend and visit, <br> presenting the perfect  delicacies that our palate longs <br> for with our  friendly, hospitable team, while maintaining <br> our principle of quality service, which always prioritizes <br> customer satisfaction!"
                </span>
            </div>
        </div>
    </div>


</section>
<section class="booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 form-text">
                <h3>Book A Table</h3>
                <form action="">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Person">
                                <br>
                                <input type="time" placeholder="01.00am">
                            </div>
                            <div class="col-lg-6">
                                <input type="number" placeholder="Phone">
                                <input type="email" placeholder="Email ID">

                                <input type="date" placeholder="mm/dd/yy">
                            </div>
                            <div class="col-lg-12">
                                <button type="submit">Book Now</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-6">
                <img src="/assets/img/interier/_54A5232.jpg" alt="">
            </div>

        </div>
    </div>
</section>