<form id="searchForm" asp-action="SearchInput" asp-controller="product" method="post" enctype="multipart/form-data">
    <input type="search" placeholder="Search">
    <button class="searchbutton"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>