@model ContactVM
@{
    ViewData["Title"] = "Index";
}

<section class="contact">
    <div class="contact-text">
        <h1>Contact Us</h1>
        <a href="">Home </a>
        <i class="fa-solid fa-angle-right"></i>
        <span>Contact Us</span>
    </div>
</section>
<section  class="booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-5  col-sm-5 form-text">
                <h3>Contact Us</h3>
                @await Html.PartialAsync("_ContatctCreatePartial", Model.Contact) 
            </div>
            <div class="col-lg-6 col-md-7 col-sm-7">
                <h5>Our Contacts</h5>
                <h2>Get In Touch</h2>
                <p>Get in touch to discuss your employee wellbeing needs <br> today. Please give us a call, drop us an email or fill out the <br> contact form and we’ll get back to you.</p>
                <div class="contactdetails">
                    <i class="fa-solid fa-location-dot"></i>
                    <p>
                        We are Here:
                        <br>
                        14/a Khagani Street,
                        Baku Azerbaijan
                    </p>
                </div>
                <div class="contactdetails">
                    <i class="fa-solid fa-phone"></i>
                    <p>
                        Phone Us:
                        <br>
                        (+994) 12 598 05 55
                    </p>
                </div>
                <div class="contactdetails">
                    <i class="fa-solid fa-at"></i>
                    <p>
                        Mail Us:
                        <br>
                        Prive@mail.ru
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.656085411035!2d49.83942181535441!3d40.37214947937041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307dafc71aec4f%3A0xd34c420fcbf89177!2sPrive%20Steak%20Gallery%20Baku!5e0!3m2!1sen!2s!4v1652987366732!5m2!1sen!2s" width="1280" height="550" style="border:0;" border-radius="70%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>

