@model HomeVM
@{
    ViewData["Title"] = "Index";
}
<section class="intro">
    <div data-aos="fade-left"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine" class="all">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 col-md-6">
                    <i><h6>Welcome to Our Restaurant</h6></i>
                    <h1>The Best Food For <br> The Best Moments</h1>
                    <h5>We have created for you the Prive Steak Gallery, <br> which presents the most delicious meat and <br> hosts your sincere conversations.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="feature">
    <div class="all">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-12 col-md-5">
                    <i> <h6>Welcome To Home Of Taste</h6></i>
                    <h1>A Tasty Food Is What You Deserve</h1>
                    <ul>
                        <li><i class="fa-solid fa-check"></i>Only Fresh Food</li>
                        <li><i class="fa-solid fa-check"></i>Quality Certified</li>
                        <li><i class="fa-solid fa-check"></i>Best Drinks</li>
                        <li><i class="fa-solid fa-check"></i>Easy to Order</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-12 col-md-7">
                    <div data-aos="flip-down" class="imageschef">
                        <img class="img1" src="/assets/img/chefs/_0014500.jpg" alt="">
                        <img class="img2" src="/assets/img/meals/_0010056.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery">

    <div class="text">
        <i><h6>Our Gallery</h6></i>
        <h1>Try Our Special Dishes</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-12 col-md-12">
                <div class="images">
                    @foreach (Product product in Model.Products)
                    {
                        <div class="box">
                            <img src="/assets/img/meals/@product.Image" alt="">
                            <div class="overlay"><p>@product.Name</p></div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

</section>
<section class="details">
    <div class="allcontent">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-12 col-md-4">
                    <img src="/assets/img/details/img_1.png" alt="">
                    <h3>Fresh Products</h3>
                    <p>For each dish, the growth of every <br> element & the selection</p>
                    <a href="">Discover More</a>
                </div>
                <div class="col-lg-4 col-12 col-md-4">
                    <img src="/assets/img/details/img_2.png" alt="">
                    <h3>Skilled Chefs</h3>
                    <p>For each dish, the growth of every <br> element & the selection</p>
                    <a href="">Discover More</a>
                </div>
                <div class="col-lg-4 col-12 col-md-4">
                    <img src="/assets/img/details/img_3.png" alt="">
                    <h3>Best Drinks</h3>
                    <p>For each dish, the growth of every <br> element & the selection</p>
                    <a href="">Discover More</a>
                </div>

            </div>
        </div>
    </div>
</section>
<section id="navmenu">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a asp-action="Salad" asp-controller="Home" class="animate__animated animate__flash animate__slower animate__infinite infinite red ">
                            <img src="~/assets/img/Mealstab/Salafs.jpg" alt="That's an image ">
                            <p class="animate__animated animate__flash animate__slower animate__infinite infinite red ">
                                Salads
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Snack" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Snacks.jpg" alt="That's an image ">
                            <p>Snacks</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="HotSnacks" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/hot snacks.jpg" alt="That's an image ">
                            <p>
                                Hot Snacks and Garnishes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="DryAged" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/DryAgeds.jpg" alt="That's an image ">
                            <p>Dry Aged</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Burger" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Burgers.jpg" alt="That's an image ">
                            <p>Burgers</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="GrilledMeats" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Grilledmeats.jpg" alt="That's an image ">
                            <p>Grilled meats</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Dessert" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Desserts.jpg" alt="That's an image ">
                            <p>Desserts</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="team">
    <div class="allteam">
        <div class="team-text">
            <i><h4>Team of  Restaurant</h4></i>
            <h1>Meet our Professionals</h1>
        </div>
        <div class="container">
            <div class="row">
                @foreach (Team team in Model.Teams.Take(3))
                {
                    <div @*data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100"*@ class="col-lg-4 col-12 col-md-3 col-sm-3">
                        <div class="ceo">
                            <img src="/assets/img/chefs/@team.Image" alt="">
                            <div class="member-info">
                                <h4>@team.Name</h4>
                                <p>@team.Position</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<section class="video">
    <iframe src="/assets/img/videos/Privelive (3).mp4" frameborder="0" class="vid"> </iframe>
</section>
<section class="booking">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 col-md-12 col-sm-12 form-text">
                <h3>Book A Table</h3>
                <form action="">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Person">
                                <br>
                                <input type="time" placeholder="01.00am">
                            </div>
                            <div class="col-lg-6">
                                <input type="number" placeholder="Phone">
                                <input type="email" placeholder="Email ID">

                                <input type="date" placeholder="mm/dd/yy">
                            </div>
                            <div class="col-lg-12">
                                <button type="submit">Book Now</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
            <div class="col-lg-6 col-12 col-md-6 col-sm-6">
                <img src="/assets/img/interier/_54A5232.jpg" alt="">
            </div>

        </div>
    </div>
</section>




