
@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<section id="navmenu">
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a asp-action="Salad" asp-controller="Home" class="animate__animated animate__flash animate__slower animate__infinite infinite red ">
                            <img src="~/assets/img/Mealstab/Salafs.jpg" alt="That's an image ">
                            <p class="animate__animated animate__flash animate__slower animate__infinite infinite red ">
                                Salads
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Snack" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Snacks.jpg" alt="That's an image ">
                            <p>Snacks</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="HotSnacks" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/hot snacks.jpg" alt="That's an image ">
                            <p>
                                Hot Snacks and Garnishes
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="DryAged" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/DryAgeds.jpg" alt="That's an image ">
                            <p>Dry Aged</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Burger" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Burgers.jpg" alt="That's an image ">
                            <p>Burgers</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="GrilledMeats" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Grilledmeats.jpg" alt="That's an image ">
                            <p>Grilled meats</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Dessert" asp-controller="Home">
                            <img src="~/assets/img/Mealstab/Desserts.jpg" alt="That's an image ">
                            <p>Desserts</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="products">
    <div class="container">
        <div class="row">
            @foreach (Product item in Model.Take(4))
            {
                <div class="col-lg-3">
                    <div class="allprods">
                        <div class="product-detail">
                            <div class="imgcart">
                                <a href="shopdetail.html"><img src="~/assets/img/meals/@item.Image" alt=""></a>
                                <a asp-controller="Product" asp-action="AddBasket" asp-route-id="@item.Id" class="addtocart">Add to cart</a>
                            </div>
                        </div>
                        <div class="product-text">
                            <h4>@item.Name</h4>
                            <span>@item.Price.ToString("F2")₼</span>
                            <br>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                    </div>
                </div>
            }          
        </div>
    </div>
</section>

